services:
  backend:
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
    environment:
      - ENV=development
    volumes:
      - ./backend:/usr/src/app

  frontend:
    environment:
      - NODE_ENV=development
    volumes:
      - ./frontend:/usr/src/app
    ports:
      - "5173:5173"